{% extends 'base.html' %}

{% block content %}

<section class="section">

<div class="container">

<h2 class="section-title">
About Me
</h2>

<p>
Hello! I am Tanaya Anap, a third-year Computer Engineering student at COEP Technological University, Pune dedicated to mastering Software Development, Web Development, and Data Science.
</p>

<p>
My academic journey has fueled a deep curiosity for how data-driven insights can enhance software architecture, leading me to build versatile solutions that range from dynamic web applications to analytical models. I love the process of translating complex, abstract problems into clean, efficient code. Beyond programming, I am fascinated by system optimization and networking, and I am always looking forward to exploring new technologies and contributing to impactful, real-world projects.
</p>

<h4 class="mt-4">Skills</h4>

<div class="row">
    <div class="col-md-6 mb-3">
        <h5 class="fw-bold text-secondary">Languages</h5>
        <ul>
            <li>C</li>
            <li>Python</li>
            <li>JavaScript</li>
            <li>SQL</li>
            <li>HTML & CSS</li>
        </ul>
    </div>

    <div class="col-md-6 mb-3">
        <h5 class="fw-bold text-secondary">Frameworks & Tools</h5>
        <ul>
            <li>Django</li>
            <li>Flask</li>
            <li>React js</li>
            <li>Bootstrap</li>
        </ul>
    </div>
</div>
</section>

{% endblock %}